<p-dialog header="Settings"
          [(visible)]="infoService.dialogsHandler.isShowSettingsDialog"
          [modal]="true"
          [draggable]="true"
          [resizable]="false">
  <!--ACCORDION-->
  <div *ngIf="infoService.settings.instrument!=Instrument.PIANO">
    <div class="p-field-radiobutton" *ngFor="let option of settingsViewModeOptions">
      <p-radioButton [inputId]="option.key"
                     name="griffType"
                     [value]="option.key"
                     (onClick)="onSettingsChange()"
                     [(ngModel)]="selectedViewModeOption"></p-radioButton>
      <label [for]="option.key">{{ option.value }}</label>
    </div>
    <div style="padding-bottom: 20px;"></div>
    <div
      class="p-field-checkbox">
      <p-checkbox [(ngModel)]="infoService.settings.flipKeyboardsVertically"
                  (onChange)="onSettingsChange()"
                  [binary]="true"
                  [inputId]="flipKeyboardsVerticallyId"></p-checkbox>
      <label [for]="flipKeyboardsVerticallyId">flip right hand vertically</label>
    </div>
    <div style="padding-bottom: 20px;"></div>

    <div class="p-field-radiobutton" *ngFor="let option of accordionTypeOptions">
      <p-radioButton [inputId]="option.key"
                     name="griffType"
                     [value]="option.key"
                     (onClick)="onInstrumentChange()"
                     [(ngModel)]="selectedAccordionTypeOption"></p-radioButton>
      <label [for]="option.key">{{ option.value }}</label>
    </div>
    <div style="padding-bottom: 20px;"></div>
  </div>

  <!--PIANO-->
  <div *ngIf="infoService.settings.instrument==Instrument.PIANO">
    <div class="p-field-radiobutton">
      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="infoService.settings.playPianoSound"
                    (onChange)="onSettingsChange()"
                    [binary]="true"
                    [inputId]="playSoundId"></p-checkbox>
        <label [for]="playSoundId">MIDI sound</label>
      </div>
    </div>
  </div>

  <!--  <div style="width: 100%;text-align: center;margin-bottom:20px;"><img src="assets/elegant-divider.png" style="width:50%"/></div>-->
  <div class="p-field-checkbox">
    <p-checkbox [(ngModel)]="infoService.settings.showNoteNamesOnKeys"
                [disabled]="infoService.settings.showKeyNumbersOnKeys"
                (onChange)="onSettingsChange()"
                [binary]="true"
                [inputId]="showNoteNamesOnKeysId"></p-checkbox>
    <label [for]="showNoteNamesOnKeysId">show note names on keys</label>
  </div>

  <div
    *ngIf="infoService.settings.instrument!=Instrument.PIANO"
    class="p-field-checkbox">
    <p-checkbox [(ngModel)]="infoService.settings.showKeyNumbersOnKeys"
                (onChange)="onSettingsChange()"
                [binary]="true"
                [inputId]="showKeyNumbersOnKeysId"></p-checkbox>
    <label [for]="showKeyNumbersOnKeysId">show key numbers on keys</label>
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="infoService.dialogsHandler.isShowSettingsDialog=false" label="Ok"
              styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
