<div style="width:100%;height:100%;" fxLayout="row nowrap">

  <div fxFlex="1 1 auto"
       style="padding:0;border-right: 0px solid black;background-color: lightgrey">
  </div>

  <div fxFlex="0 1 500px" fxLayoutAlign="center center" style="padding:10px;border: 0px solid black"
       fxLayout="column nowrap">
    <a (click)="infoService.onHomeClick()">
      <img
        [ngStyle]="{'max-width.px':100, 'max-height.px':100}"
        style="cursor: pointer" src="assets/back.png"/>
    </a>
    <a (click)="infoService.onLogoClick()" style="cursor:pointer"><img
      [ngStyle]="{'max-width':100+'%'}"
      src="{{OCTAVIAN_LOGO}}"/></a>

    <div>
      <h1 style="font-size:24px;font-weight: 300;letter-spacing: -0.5px;">Resend the account activation link</h1>

      <div
        *ngIf="this.userService.requestActivationLinkModel.value.message!=null"
        class="flash"
        [style]="{backgroundColor:this.userService.requestActivationLinkModel.value.hasError?'pink':'lightgreen'}">
        <div>
          <button (click)="onErrorClose()" class="flash-close" type="button" aria-label="Dismiss this message">
            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
              <path fill-rule="evenodd"
                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
            </svg>
          </button>
          {{this.userService.requestActivationLinkModel.value.message}}
        </div>
      </div>

      <p style="margin-block-start: 0; display: flex;flex-direction: column;">
        <label for="resendLinkEmail" style="padding-bottom:5px;">Enter your email address
          and we
          will send you the account activation link.</label>
        <input
          #emailInput
          (keydown.enter)="onSubmit()"
          type="text"
          [disabled]="this.userService.isLoading"
          autofocus="autofocus"
          id="resendLinkEmail" autofocus="autofocus"
          placeholder="Enter your email address" style="padding:5px 12px;font-size:14px;"
          [(ngModel)]="email"/>
      </p>

      <h2 style="font-weight: 600;font-size: 16px">Verify your account</h2>

      <p style="height:80px">
        <re-captcha
          #captchaElem
          (resolved)="resolved($event)"
          siteKey="{{reCaptchaSiteKey}}"
        ></re-captcha>
      </p>

      <p style="margin-block-start: 0;width:100%">
        <button
          [disabled]="isButtonDisabled()"
          style="width:100%"
          pButton pRipple (click)="onSubmit()"
          type="button"
          label="Send the account activation link"
          class="p-button-raised"></button>
      </p>

      <p style="margin-block-start: 0;width:100%">
        <a (click)="this.infoService.onHomeClick()" style="cursor: pointer"><img style="vertical-align: top" height="15"
                                                                                 src="assets/back_arrow.svg" role="img"> BACK</a>
      </p>
    </div>

  </div>

  <div fxFlex="1 1 auto"
       style="padding:0;border-right: 0px solid black;background-color: lightgrey">
  </div>

</div>
