<div *ngIf="!catalogueService.isLoading;else elseLoadingBlock" style="width:100%;height:100%;">
  <div *ngIf="!hasError;else elseErrorBlock" style="width:100%;height:100%;">
    <div *ngIf="catalogueService.catalogueModel.value.requestedTunes!.size>0;else elseComingSoonBlock"
         style="width:100%;height:100%;overflow:auto;padding: 5px 5px 5px;"
         fxFlex="0 1 auto"
         fxLayout="row wrap"
         fxLayoutAlign="start start">

      <div
        ngClass="itemContainer"
        [ngStyle]="{'max-width.px':250}"
        *ngFor="let tune of Array.from(catalogueService.catalogueModel.value.requestedTunes.values())">

        <p-contextMenu
          *ngIf="userService.getUserRole()==Role.ADMIN || infoService.settings.level==0"
          [target]="img"
          [model]="items"
          appendTo="body"
          (onShow)="getItemMenuOptions(tune)">
        </p-contextMenu>

        <div
          #img
          style="position: relative;max-height: 248px;">

          <div class="playAudio">
            <p-button
              icon="pi pi-{{(!tuneService.audio.paused && tuneService.playingTuneId==tune.id)?'pause':'play'}}"
              (onClick)="tuneService.onAudioClick(tune.id)" [rounded]="true"
               styleClass="round-button"/>
          </div>

          <div
            (click)="onTuneClick(tune)"
            class="lockCircle">
            <img [ngStyle]="{'max-width':100+'%','max-height':100+'%','margin-right':'5px'}"
                 src="{{tune.bestScore<50?STAR_EMPTY_IMG:STAR_IMG}}"
                 role="img">
            <img [ngStyle]="{'max-width':100+'%','max-height':100+'%','margin-right':'5px'}"
                 src="{{tune.bestScore<90?STAR_EMPTY_IMG:STAR_IMG}}"
                 role="img">
            <img [ngStyle]="{'max-width':100+'%','max-height':100+'%'}"
                 src="{{tune.bestScore<100?STAR_EMPTY_IMG:STAR_IMG}}" role="img">
          </div>

          <img
            (click)="onTuneClick(tune)"
            [ngStyle]="{'max-width':100+'%'}"
            src="{{getTuneCover(tune)}}" alt=""/>
        </div>

        <div
          (click)="onTuneClick(tune)"
          style="overflow: hidden;background-color: #E8E8E8;">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 250 55"
            preserveAspectRatio="xMinYMin meet"
          >
            <foreignObject width="100%" height="100%" xmlns="http://www.w3.org/1999/xhtml">
              <div xmlns="http://www.w3.org/1999/xhtml">
                <p class="title">{{ tune.title }}<br/><span class="author">{{ tune.author }}</span></p>
              </div>
            </foreignObject>
          </svg>
        </div>

      </div>

    </div>
  </div>
</div>


<ng-template #elseErrorBlock>
  <div style="width:100%;height:100%;" fxLayoutAlign="center center" fxLayout="column"
       (click)="onTry($event)"
       [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(message==null?'':message)">
  </div>
</ng-template>
<ng-template #elseLoadingBlock>
  <div style="width:100%;height:100%;" fxLayoutAlign="center center" fxLayout="column">
    <p-progressSpinner></p-progressSpinner>
    <div style="text-transform: uppercase;">{{ infoService.loadingProgressMessage.value }}</div>
  </div>
</ng-template>
<ng-template #elseComingSoonBlock>
  <div style="width:100%;height:100%;" fxLayoutAlign="center center" fxLayout="column">
    <div style="text-transform: uppercase;">{{ infoService.settings.shared ? 'coming soon' : 'sharing is caring' }}
    </div>
  </div>
</ng-template>
