<router-outlet></router-outlet>

<right-hand-layout-dialog></right-hand-layout-dialog>
<left-hand-layout-dialog></left-hand-layout-dialog>
<settings-dialog></settings-dialog>
<about-dialog></about-dialog>

<sign-in-dialog></sign-in-dialog>
<check-your-email-dialog></check-your-email-dialog>
<user-profile-dialog></user-profile-dialog>

<upload-dialog></upload-dialog>
<delete-dialog></delete-dialog>
<copy-dialog></copy-dialog>
<progress-dialog></progress-dialog>
<stats-dialog></stats-dialog>
<fingering-dialog></fingering-dialog>
<result-dialog></result-dialog>

<p-confirmDialog />
